@font-face {
    font-family: Avenir Light;
    src: url(../fonts/AvenirNextLTPro-UltLt.otf);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: Avenir;
    src: url(../fonts/AvenirNextLTPro-Regular.otf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand_Bold.otf);
    font-style: normal;
    font-weight: 500;
}

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

main {
    margin: 0 auto;
    width: 980px;
    position: relative;
}

.menu-principal {
    width: 100%;
    height: 100%;
    min-height: 763.2px;
    background-image: url('../img/back1.svg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    padding: 12.5px 0px 0px;
    width: 25%;
    float: left;
    align-self: center;
}

.menu ul li {
    display: inline-block;
    margin-left: 20px;
    color: #c8c8c8;
}

.menu ul li a {
    color: #c8c8c8;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    font-family: Quicksand
}

.menu {
    float: left;
    width: 30%;
    padding: 2px;
    font-family: Quicksand;
    margin-top: 8px;
    margin-left: 40%;
}

.about-me {
    height: 41px;
}

.about-me:hover {
    transition: .1s;
}

.about-me a:hover {
    color: #c31432;
    transition: .3s;
}

.insta a:hover {
    color: #c31432;
    transition: .3s;
}

.git a:hover {
    color: #c31432;
    transition: .3s;
}

h1 {
    font-weight: lighter;
    font-size: 26px;
    color: #fff;
    text-align: center;
    padding-top: 220px;
    padding-right: 300px;
    margin-bottom: 0;
    font-family: Quicksand;
}

p {
    font-weight: lighter;
    font-size: 60px;
    color: #fff;
    text-align: center;
    padding-right: 300px;
    margin-bottom: 0;
    font-family: Quicksand;
}

.typed {
    font-weight: lighter;
    font-size: 22px;
    color: #fff;
    text-align: center;
    padding-right: 320px;
    margin-bottom: 0;
    font-family: Quicksand;
}